@import url(../Iran_Sanse/css/fontiran.css);
body {
    font-family: IRANSans;
    font-weight: 300;
    background-color: #fdfdfd;
}

.card {
    border-radius: 6px;
}

.margin-left-auto {
    margin-left: auto;
}

.margin-right-auto {
    margin-right: auto;
}

.clear-margin {
    margin: 0;
}

.rouded-corner {
    border-radius: 6px;
}
.topOfAll{
    z-index: 2000;
    
}

#inputTask {
    display: block;
}
/*###############################################*/

/*  Animation  */
.frame{
    z-index: 1000;
    position: fixed;
}

.moveTop {
    z-index: 1000;
    position: fixed;
    animation: flowToTop 0.5s;
}

div.moveTop {
    z-index: 1000;
    display: block;
}

@keyframes flowToTop {
    0% {
        top: 0px;
    }
    100% {
        top: -800px;
    }
}

.moveMiddle {
    z-index: 1000;
    position: fixed;
    animation: flowToMiddle 0.5s;

}

div.moveMiddle {
    display: block;
}

@keyframes flowToMiddle {
    0% {
        top: -800px;
    }
    100% {
        top: 0px;
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*###############################################*/